.crewDiv{
    background-image: url("/assets/background/background-crew-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    color: white;
    overflow: hidden;
}

.crewDiv {
    overflow: auto; 
}

.crewDiv::-webkit-scrollbar {
    display: none;
}

.crewDiv {
    scrollbar-width: none;
}


.crewTitleDiv{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.numberedCrew{
    opacity: 0.3;
}

.crewTitleH5{
    color: white;
    
}
.crewMemberRole{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;;
    font-size: 32px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 10px;

}

.crewMemberName{

    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;;
    font-size: 56px;
    text-transform: uppercase;
    margin-top: 5px;
    

}

.crewMemberBio{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    max-width: 80%;
    text-wrap: wrap;
    
    
}

.crewMemberSelector{
    font-size: 16px;
    color: #acacacad;
    
}

.crewMemberSelector:hover{
    cursor: pointer;
}

.crewMemberSelector.active{
    color: white;
}

.crewSelectorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
    gap: 1em;
  }


.crewMainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.crewTextDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

.crewImageDiv{
    margin-right: 10%;
    position: relative;
    top: 2rem;
  
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1250px) and (min-width: 980px) {
    .crewMemberImage{
        transform: scale(0.8);
    }


    
    .crewMemberBio{
        font-size: 16px;
    }

    .crewMemberName{
        font-size: 40px;
    }

    .crewMemberRole{
        font-size: 24px;
    }

    .crewTitleDiv{
       font-size: 20px;
    }
    
    
}


@media only screen and (max-width: 980px) and (min-width: 768px) {
    .crewDiv{
        background-image: url("/assets/background/background-crew-tablet.jpg");
    
    }
    
    .crewMemberImage{
        transform: scale(0.65);
    }

    .crewMemberBio{
        font-size: 14px;
    }

    .crewMemberName{
        font-size: 40px;
    }

    .crewMemberRole{
        font-size: 24px;
    }

    .crewTitleDiv{
       font-size: 20px;
    }
    

    .crewImageDiv{
        top: 0;
        right: -5%;
    }
}


@media only screen and (max-width: 768px) {
    .crewDiv{
        background-image: url("/assets/background/background-crew-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column;

        
    }

    .crewDiv {
        overflow-x: hidden; 
    }
    
    .crewDiv::-webkit-scrollbar {
        display: none;
    }
    
    .crewDiv {
        scrollbar-width: none;
    }
    
    .crewMainDiv{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .crewTextDiv{
        order: 0;
    }

   
  
    .crewTitleDiv {
        display: flex;
        justify-self: center;
        align-self: center; 
        margin-bottom: 1em; 
    }

    .crewMemberImage{
        position: relative;
        bottom: 35%;
        left: 10%;
        transform: scale(0.4);

    }


 

    .crewSelectorDiv {
        align-self: center; 
        margin-bottom: 1em;
    }

    .crewMemberDiv {
        margin-left: 10%;
    }

    .crewMemberBio{
        font-size: 14px;
    }

    .crewMemberName{
        font-size: 36px;
    }

    .crewMemberRole{
        font-size: 22px;
    }

    .crewTitleDiv{
       font-size: 20px;
    }



   

}




