@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

.mainDivDestination{
    background-image: url("/assets/background/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    color: white;
    overflow: hidden;
}

.mainDivDestination {
    overflow: auto; 
}

.mainDivDestination::-webkit-scrollbar {
    display: none;
}

.mainDivDestination {
    scrollbar-width: none;
}

.destinationDiv{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 10%;
        
}

.pickDestinationDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.pickDestinationH1{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.7px;
    text-align: start;    
    display: flex;
    gap: 1em;
    
}

.numDestination{
    color: #4A4D56;
}




.destination-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    position: relative;
    top: 3rem;
}

.destination-card-btn{
   
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    

}



.destination-card-itemsBelow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.destination-card-description{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    margin-top: 0px;
    width: 40%;
    
}

.destination-card-bigTitle{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;;
    font-size: 100px;
    text-align: left;
}

.divDash{
    align-self: center;
    width: 40%; 
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.573); 
}


.travelDetailsDiv{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    

}

.avgDistDiv,
.estTimeDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}


.avgDistanceText,
.estTimeText {
    font-family: 'Barlow Condensed', serif;
    font-size: 14px;

}

.avgDistanceNum,
.estTimeNum {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    margin-top: 0;
}

.planetImg{
    animation: rotatePlanet infinite alternate ease-in-out 10s;
}

@keyframes rotatePlanet {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



/* MEDIA QUERIES */


@media only screen and (max-width: 1160px) and (min-width: 768px) {
    .planetImg{
        width: 90%;
        height: 90%;
    }

    .destination-card-description{
        font-size: 14px;    
        line-height: 22px; 
    }

    .destinationDiv{
        top: 10%;
    }

    .destination-card-bigTitle{
        font-size: 70px;
    }
    
}


@media only screen and (max-width: 767px) and (min-width: 580px) {

    .mainDivDestination{
        background-image: url("/assets/background/background-destination-tablet.jpg");
    
    }

    
    

    .destinationDiv{
        display: flex;
        flex-flow: column;
        margin-right: 5rem;        
    }

    .planetImg{
        width: 50%;
        height: 50%;
    }

    .destination-card-description{
        width: 80%;
        font-size: 16px;
    }
    .divDash{
        width: 75%;
    }
}

 @media only screen and (max-width: 768px) {
    

    .mainDivDestination{
        overflow-x: hidden;
        overflow-y: auto;
    }
 
    
 
 
} 

@media only screen and (max-width: 579px) {

    .mainDivDestination{
        background-image: url("/assets/background/background-destination-mobile.jpg");
    
    }

    
    .pickDestinationH1{
        font-size: 16px;
    }

    .destinationDiv{
        display: flex;
        flex-flow: column;
        margin-right: 5rem;   
    }

    .planetImg{
        width: 40%;
        height: 40%;
    }
    
    .destination-card-bigTitle{
        font-size: 56px;
    }

    .destination-card-description{
        width: 80%;
        font-size: 15px;
    }

    .divDash{
        width: 75%;
    }

  
}

