nav{
    padding-top: 2.1rem;
    position: relative;
    left: 25rem;
    width: auto;
    border-collapse: collapse;
    height: 6.25em;
    transition: all 0.3s ease-in-out;

}

nav, ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
  font-size: 17px;
  letter-spacing: 2.5px;
}




.navbarList{
    gap: 45px;
    list-style-type: none;
    padding: 35px 150px;
    background: rgba(103, 103, 103, 0.1);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0);
    font-family: "Barlow Condensed", serif;
   
}


.navbar-link{
    color: white;
    text-decoration: none;
    position: relative;
}

.navbar-link::after {
    content: '';
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    width: 0;  
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
  }
  
  


  .navbar-link.active::after {
    content: '';
    position: absolute;
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: width 0.5s ease;
}


  .navbar-link:hover::after {
    width: 100%; 
    
  }


  .navbar-link.active:hover {
    pointer-events: none; 
}

  .navbar-logo{
    position: absolute;
    left: -20em;
  }

  .navbar-dash {
    position: absolute;
    align-self: center;
    transform: translateY(-50%);
    left: 0.1%;
    width: 30%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.573);
    z-index: 99;
    margin-top: -1px; 
  }


  .burger-button{
    display: none;
  }


  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    position: relative;
    bottom: 20%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay-menu li {
    margin-bottom: 20px;
    display: flex;
  }
  
  .overlay-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .overlay-menu li a:hover {
    color: yellow; /* change color on hover if desired */
  }
  
  
  @media only screen and (max-width: 1350px) and (min-width: 840px) {
      nav{
        padding-top: 2.1rem;
        position: relative;
        width: 70%;
        border-collapse: collapse;
        height: 6.25em;
        transition: all 0.3s ease-in-out;

    }

    ul li{
      font-size: 16px;
      letter-spacing: 1.5px;
    }

    .navbar-dash{
      position: absolute;

      left: -10%;
  
      width: 20%;
    }

  }

  @media only screen and (max-width: 839px) and (min-width: 768px) {
    nav{
      padding-top: 2.1rem;
      position: relative;
      width: 40%;
      border-collapse: collapse;
      height: 6.25em;
      transition: all 0.3s ease-in-out;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul li{
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .navbar-dash{
    display: none;
  }


}


@media only screen and (max-width: 768px) {
ul, .navbar-dash{
  display: none;
}

  .navbarDiv{
    position: relative;
    bottom: 2rem;
    right: 2rem;
  }

  .burger-button {
    display: block;
    background: none;
    border: none;
    position: relative; 
    left: -50%;
    width: 35px;
    height: 35px;
    right: 2.5rem; 
    z-index: 999; 
    cursor: pointer;
  }

  .burger-button-icon{
    height: 35px;
    width: 35px;
    color: white;
  }
}



