.techDiv{
    background-image: url("/assets/background/background-technology-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    color: white;
    overflow: hidden;
}

.techOverlayDiv{
    position: relative;
    top: 10%;
}

.techTitleDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    gap: 1rem;
    position: relative;
    left: 10%;
    bottom: 10%;
}

.numberedTech{
    opacity: 0.3;
}

.techTitleH5{
    color: white;
}

.mainTechDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.buttonDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 10%;
    gap: 2rem;
}

.descriptionDiv{

    position: relative;
    left: 15%;
}

.techButton{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-size: 32px;
    border-color: rgb(92, 92, 92);
    
}

.techButton:hover{
    cursor: pointer;
    border-color: bisque;
}

.techButton.active{
    background-color: white;
    color: black;
}

.techButton.active:hover{
    border-color: rgb(92, 92, 92);
}

.terminology{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    text-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: normal;
}

.chosenTech{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.techDescription{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    width: 60%;
    margin-top: 10px;
   
}

.techImg.portrait {
    border-radius: 8px;
    width: 400px;
    height: 380px;
    
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1250px) and (min-width: 980px) {
    .techDiv{
        background-image: url("/assets/background/background-technology-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }    

    .techDiv {
        overflow: auto; 
    }
    
    .techDiv::-webkit-scrollbar {
        display: none;
    }
    
    .techDiv {
        scrollbar-width: none;
    }

     .chosenTech{
        font-size: 40px;
     }

}


@media only screen and (max-width: 980px) and (min-width: 768px) {
    .techDiv{
        background-image: url("/assets/background/background-technology-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


    .techDiv {
        overflow: auto; 
    }
    
    .techDiv::-webkit-scrollbar {
        display: none;
    }
    
    .techDiv {
        scrollbar-width: none;
    }

    

    .techOverlayDiv{
        display: flex;
        flex-flow: column;
        
    }

    .mainTechDiv{
        display: flex;
        flex-flow: column;
       
    }

    .techTitleDiv{
        order: 0;
        justify-self: flex-start;
        align-self: flex-start;
    }

    .imageDiv{
        order: 1;
    }

    .techImg.landscape{
        border-radius: 0;
        width: 100vw;        
    }


    .buttonDiv{
        order: 2;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .descriptionDiv{
        order: 3;
    }


    .techButton{
        font-size: 24px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
}


@media only screen and (max-width: 768px) {
    .techDiv{
        background-image: url("/assets/background/background-technology-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .techDiv {
        overflow: auto; 
    }
    
    .techDiv::-webkit-scrollbar {
        display: none;
    }
    
    .techDiv {
        scrollbar-width: none;
    }

    .techImg.landscape{
        border-radius: 0;
        width: 100vw;        
    }

    .techOverlayDiv{
        display: flex;
        flex-flow: column;
        
    }

    .mainTechDiv{
        display: flex;
        flex-flow: column;
    
    }

    .techTitleDiv{
        order: 0;
        justify-self: flex-start;
        align-self: flex-start;
    }

    .imageDiv{
        order: 1;
    }



    .buttonDiv{
        order: 2;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .descriptionDiv{
        order: 3;
    }

    .techTitleH5{
        font-size: 18px;
    }

    .numberedTech{
        font-size: 17px;
    }

    .chosenTech{
        font-size: 24px;
    }

    .terminology{
        font-size: 15px;
    }

    .techDescription{
        font-size: 15px;
        
    }

    .techButton{
        font-size: 16px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
}




