.techDiv{
    background-image: url("/assets/background/background-technology-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    color: white;
    overflow: hidden;
}

.techOverlayDiv{
    position: relative;
    top: 10%;
}

.techTitleDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    gap: 1rem;
    position: relative;
    left: 10%;
    bottom: 10%;
}

.numberedTech{
    opacity: 0.3;
}

.techTitleH5{
    color: white;
}

.mainTechDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.buttonDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 10%;
    gap: 2rem;
}

.descriptionDiv{

    position: relative;
    left: 15%;
}

.techButton{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-size: 32px;
    border-color: rgb(92, 92, 92);
    
}

.techButton:hover{
    cursor: pointer;
    border-color: bisque;
}

.techButton.active{
    background-color: white;
    color: black;
}

.techButton.active:hover{
    border-color: rgb(92, 92, 92);
}

.terminology{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    text-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: normal;
}

.chosenTech{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 500;;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.techDescription{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    color: #CBD1F3;
    width: 60%;
    margin-top: 10px;
   
}

.techImg{
    border-radius: 8px;
    width: 420px;
    height: 400px;
}

